@import url("https://fonts.googleapis.com/css?family=Montserrat:100");


html, body {
    font-family: 'coolvetica_codensed', sans-serif;
    letter-spacing: 1px;
    margin: 10px;
    background: #111111;
    overflow: hidden;
    touch-action: none;
}

body {
    color: #a8a8a8;
    font: Montserrat, sans-serif;
    font-weight: 300;
}

button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    transition: transform 200ms;
    background: transparent;
    color: #ffffff;
    box-shadow: 0 0 0 1px #4f708f inset;
}

button:hover {
    background-color: #252525;
}

button:active {
    transform: translateY(2px);
}

.box {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    min-height: 300px;
    max-height: 90%;
    border-radius: 4px;
    padding: 10px;
    background-color: #111111;
    border: 1px solid #4f708f;
    color: rgb(92, 139, 101);
    margin-bottom: 100px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 0px;
    font-size: small;
}

input {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: text;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    transition: transform 200ms;
    background: transparent;
    color: #ffffff;
    box-shadow: 0 0 0 1px #4f708f inset;
    text-align: right;
}